        *{margin: 0; padding: 0;}
        

        a{
            text-decoration: none;
            color: black;
        }

        body{
            background-image : url(./img/backgoround.jpg);
            background-size: cover;

        }

        ul{
            list-style : none;
        }

        header{
            width: 100%;
            background-color: snow;
        }

        #top{
            display: flex;
            justify-content: right;
            border-bottom: solid 1px gray;
        }

        .top_menu li{
            padding: 8px 10px;
            float: left;
            border-left: 1px solid gray;
        }

        #bottom{
            padding: 10px;
            border-bottom: solid 1px orange;
            position: relative;
        }
        

        #bottom #logo_img img{
            width: 75px;
        }

        #bottom *{
            display: inline-block;
            vertical-align: middle;
        }

        #title1,#title2{
            padding: 10px;
        }

        #title2{
            border-left: solid gray 1px;
            font-weight: normal;
            color: gray;
        }

        #bottom #main_menu li{
            margin-left: 10vw;
            font-size: 20px;
            font-weight: bold;
        }

        #bottom #main_menu a:hover{
            text-decoration: solid underline orange 2px;
        }

        /* 메인 */
    
        main {text-align: center;}

        main *{vertical-align: middle;}

        #main_text{
            text-align: center;
            margin-bottom: 5%;
            padding-top: 5%;
            color: white;
            text-shadow: black 2px 2px 2px;
        }

        #left_content{
            text-align: center;
        }

        #section1,#section2{
            display: inline-block;
        }

        .l1 img{
            width: 150px;
            height: 150px;
        }

        .cont{
            width: 250px;
            height: 220px;
        }

        article{
            display: inline-block;
            margin: 10px;
            border: solid 1px red;
            border-radius: 5%;
            background-color: rgb(255 237 203);
        }

        article:hover{
            background-color: rgb(135, 193, 254);
        }

        article ul{
            margin-top: 30px;
        }

        #left_content,#right_content{
            display: inline-block;
            padding-bottom: 100px;
        }

        #cont5{
            width : 500px;
        }
        #cont5 .cont{
            text-align: left;
            width: 450px;
            margin:15px;
        }


        #cont5 .cont{
            list-style-type: disclosure-closed;
        }

        #cont5 .cont li{
            margin: 10px;
        }

        .cont .l2{
            font-weight: bolder;
            color: rgb(255, 115, 0);
        }

        .cont .l3{
            font-size: 13px;
            color: rgb(255, 115, 0);
        }

        /* 푸터 */

        #foot_top ul li{
            display: inline-block;
        }
        
        #foot_top,#foot_bot{
            padding: 1% 10%;
        }

        #foot_top li{
            margin: 0 2%;
        }

        #foot_top{
            color: gray;
            background-color: rgb(224, 224, 224);
        }

        #foot_bot{
            font-size: 12px;
            color: white;
            background-color: rgb(9, 18, 41);
        }

        #red a{
            color: rgb(175, 23, 23);
        }

        /* 모바일용 */
        @media screen and (max-width:680px)
        {

            #bottom #main_menu li{
                margin-left: 1vw;
            }

            #left_content{
                padding-left: 0;
                padding-bottom: 0;
            }

            #right_content{
                display: block;
            }
            #right_content #cont5{
                width: 95vw;
            }

            #cont5 .cont li{
                font-size: 0.8em;
            }

            footer{
                padding-top: 70vh;
            }


 
        }